* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: beige;
    padding-top: 3em;
    padding-bottom: 3em;
}

.login-container {
    background-color: lightblue;
    padding: 2.5rem;
    border-radius: 16px;
    box-shadow: 4px 12px 36px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.fejlec {
    margin-bottom: 2.5em;
}

.udvozles {
    font-size: 3em;
    font-weight: bold;
    color: blue;
}

.fejlec h1 {
    font-size: 1em;
    color: gray;
    font-weight: normal;
}
.login-container h1 {
    color: blue;
    font-size: 2.2em;
    margin-bottom: 0.1em;
}

.subtitle {
    color: gray;
    margin-bottom: 2em;
    font-size: 1em;
}

.form-group {
    text-align: left;
    margin-bottom: 1em;
}

label {
    display: block;
    font-weight: bold;
    color: black;
    margin-bottom: 0.5em;
}

input {
    width: 100%;
    padding: 0.75em;
    border: 2px solid gray;
    border-radius: 8px;
    font-size: 1em;
}

input:focus {
    border-color: blue;
    outline: none;
}


button {
    width: 100%;
    padding: 0.75em;
    background-color: blue;
    color: beige;
    border:none;
    border-radius: 8px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 2em;
}

button:hover {
    background-color: rgba(0, 0, 255, 0.5);
}

.error-message {
    color: red;
    font-size: 1em;
    margin-top: 10px;
    text-align: center;
}


.footer-text {
    margin-top: 2em;
    font-size: 0.9em;
    color: gray;
}

.hatter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    gap: 1.5em;
    background-color: lightblue;
    padding: 2em;
    border-radius: 16px;
    box-shadow: 4px 12px 36px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    flex-wrap: wrap; 
}

.opciok, .nav-sor {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.opciok a, .nav-sor a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 1em;
}

.opciok a:hover, .nav-sor a:hover {
    color: rgba(0, 0, 255, 0.5);
    text-decoration: underline;
}

.opciok {
    background-color: white;
    padding: 1em;
    margin: .25em .75em .25em .75em;
    border-radius: 16px;
    width: 160px;
    height: 160px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-sor {
    padding: 0em 5em 0 5em;
    width: 100%;
    max-width: 1000px;
    background-color: transparent;
}

.nav-sor a{
    font-size: x-large;
    padding: 0 1.5em 0 1.5em;
}

.emoji {
    font-size: 4.55em;
    margin-bottom: 0.1em;
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5em;
    margin: 2em 0 1em;
    width: 100%;
}

.tablazat-container {
    display: block;
    background: white;
    padding: 1.5em;
    border-radius: 15px;
    max-width: 1000px;
    width: 90%;
    margin: 0em .5em 0em .5em;
}

.tablazat {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    min-width: 700px;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    vertical-align: center;
}

.tablazat th {
    background: blue;
    color: white;
    padding: 1em;
    font-size: 1em;
    text-transform: uppercase;
}

.tablazat td {
    padding: 1em;
}

.tablazat td:first-child {
    text-align: center;
    padding: .75em 0em .75em .75em;
    width: 110px;
}

.tablazat tr:nth-child(even) {
    background-color: #ffffff;
}

.tablazat tr:nth-child(odd) {
    background-color: #eef5ff;
}

.tanar {
    display: block;
    font-size: 1em;
    color: #666;
    margin-top: 0.25em;
}

.footer-text {
    text-align: center;
    margin: 0.15em 0 0.15em 0;
    font-size: 1em;
    color: #555;
    width: 100%;
}

@media (max-width: 480px) {
    .menu {
        flex-direction: column;
        gap: 1em;
    }

    .oldalcim {
        font-size: 2em;
    }

    .orarend {
        min-width: 500px;
        font-size: 1em;
    }
    
    .login-container {
    margin: 1em;
    padding: 2em;
    }
}
