* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: beige;
    padding-top: 3em;
}

.login-container {
    background-color: lightblue;
    padding: 2.5rem;
    border-radius: 16px;
    box-shadow: 4px 12px 36px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.fejlec {
    margin-bottom: 2.5em;
}

.udvozles {
    font-size: 3em;
    font-weight: bold;
    color: blue;
    margin-bottom: 0.1em;
}

.fejlec h1 {
    font-size: 1em;
    color: gray;
    font-weight: normal;
}
.login-container h1 {
    color: blue;
    font-size: 2.2em;
    margin-bottom: 0.1em;
}

.subtitle {
    color: gray;
    margin-bottom: 2em;
    font-size: 1em;
}

.form-group {
    text-align: left;
    margin-bottom: 1em;
}

label {
    display: block;
    font-weight: bold;
    color: black;
    margin-bottom: 0.5em;
}

input {
    width: 100%;
    padding: 0.75em;
    border: 2px solid gray;
    border-radius: 8px;
    font-size: 1em;
}

input:focus {
    border-color: blue;
    outline: none;
}


button {
    width: 100%;
    padding: 0.75em;
    background-color: blue;
    color: beige;
    border:none;
    border-radius: 8px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 0, 255, 0.5);
}

.error-message {
    color: red;
    font-size: 1em;
    margin-top: 10px;
    text-align: center;
}


.footer-text {
    margin-top: 2em;
    font-size: 0.9em;
    color: gray;
}

@media (max-width: 480px) {
  .login-container {
    margin: 1em;
    padding: 2em;
  }
}

.hatter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    background-color: lightblue;
    padding: 3em;
    border-radius: 16px;
    box-shadow: 4px 12px 36px;
    flex-wrap: wrap;
}

.opciok {
    background-color: white;
    padding: 1em;
    border-radius: 16px;
    width: 160px;
    height: 160px;
    text-align: center;
    cursor: pointer;
}

.emoji {
    font-size: 4em;
    margin-bottom: 0.2em;
}

.opciok a {
    display: block;
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 1em;
}

.opciok a:hover {
    color: rgba(0, 0, 255, 0.5);
    text-decoration: underline;
}